<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/descriptionproductscss.ejs') %>
</head>
<body>
	<!-- Header -->
	<%- include('./partials/headerNavbar.ejs') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div>
<br>
<br>
<br>
<br>
       
		<!-- product detail -->
		<div class="categorias">
			<div>
			<img src="/images/cloud-storage.jpg" alt="ALMACENAMIENTO" itemprop="image">
			<div class="title"><a href="/products/create">AGREGAR PRODUCTO</a></div>
			</div>
	
	
</div>
<div class="row">
	<%  productsArray.forEach(product => { %>
		<div class="card" >
			<div class="infoPdt">
		  <a href="/products/<%= product.id %>">
			<figure class="imagenDeProducto" >
			<img src="/images/products/<%= product.image %>" alt="imagen de producto" style="width:100%">
		  </figure>
		  <article class="infoDeProducto">
			<h1><%= product.pdtName %></h1>
			<h2 class="price">$<%= product.pdtPrice %> </h2>
		</div>
			 <p><button>COMPRAR</button></p>
		</article>
		</div>
	  <% }) %>
	</div>
</div>


	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>