<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/descriptionproductscss.ejs') %>
	<script src="/js/jsCartOk.js"></script>
</head>
<body>
	<!-- Header -->
	<%- include('./partials/headerNavbar.ejs') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div class="container">
		<!-- product detail -->
		<div class="categorias">
			<div class="title">
				<a href="/products/create">AGREGAR PRODUCTO<i class="fa fa-plus" aria-hidden="true"></i></a>
			</div>
</div>
<div class="row">
	<%  productsArray.forEach(product => { %>
		<div class="card" >
			<div class="infoPdt">
		  <a href="/products/<%= product.id %>">
			<figure class="imagenDeProducto" >
			<img src="<%= product.image %>" alt="imagen de producto" style="width:100%">
		  </figure>
		  <article class="infoDeProducto">
			<h3><%= product.pdtName %></h3>
			<h3 class="price">$<%= product.pdtPrice %> </h3>
		</div>
			 <button>COMPRAR</button>
		</article>
		</div>
	  <% }) %>
	</div>
</div>


	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>