<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../partials/head.ejs') %>
    <%- include('../partials/logincss.ejs') %>
    
  </head>

  <body>
     <% if (typeof errors != 'undefined') { %>
              <p style='color: blue'>ERROR</p>
              <ul>
                  <% for (let i = 0; i < errors.length; i++) { %>
                  <li>
                      <%=errors[i].msg%>
                  </li>
              <% } %>
              </ul>
          <%    } %>
    <header>
      <section>    
       <%- include('../partials/headerNavbar.ejs') %>
      </section>
     </header><br>
    <div class="volver">
      <a href="/"><strong>Volver</strong></a>
    </div>
    <div class="container">
      
      
      <div class="signIn">
      

        <form action="" id="sign-in" >
            <h1>Login</h1>

            <div class="socials">
              <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com"><i class="fab fa-google-plus-g"></i></a>
              <a href="https://instagram.com"><i class="fab fa-linkedin-in"></i></a>
            </div>

           

            <label for="email"></label>
            <input type="email" placeholder="Ingrese su mail aquí" required="true">

            <label for="password"></label>
            <input type="password" placeholder="Ingrese su contraseña aquí" name="psw" required="true">

            
            <button type="submit" class="btn2">Login</button>
        </form>
      </div>
    </div>
     
  </body>
  
<section class="footer"></section>
  <%- include('../partials/footer.ejs') %>
</section>
</html>