<html>
    <body>

        <form action="/users/register" method="POST" enctype="multipart/form-data">
            <label for="">EMAIL</label>
            <input 
            type="email" 
            name="email"
             class="form-control <%= locals.errors && errors.email ? 'is-invalid': null %>"
             value="<%= locals.oldData ? oldData.email : null %> "  
             >
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div>
            <% } %> 
            <label for="">password</label>
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %> 
                </div>
            <% } %> 
            <input type="password" name="password"><br>
        <div class="form-group">
            <label for=""><b>imagen de perfil:</b></label>
            <input class="form-control" type="file" name="usuarios">
            <% if (locals.errors && errors.usuarios) { %>
                <div class="text-danger">
                    <%= errors.usuarios.msg %> 
                </div>
            <% } %> 
            
            
            
        </div>

            <input type="submit" value="Login">
        </div>
        </form>
    </body>
</html>