<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/addProductcss.ejs') %>
</head>

<body>
    <header>
        <section>
    <%- include('../partials/headerNavbar.ejs') %>
</section>
</header>
<main class="main">
    

    <form method="get" action="/users/userProfile" enctype="multipart/form-data">
     <div class="user">
        <h4 class="page-banner-add">Mi Perfil</h4>
        <br>
        <div class="parts">     
            <label>Nombre:</label>
            <p><%= users.nombre %></p>
        </div> 
        <div class="parts"> 
            <label>Apellido:</label>
           <p><%= users.apellido%></p>
        </div> 
        <div class="email">
        <label for="email">Tu email</label>
        <p><%= users.email%>"</p>
        </div> 

        <div class="parts"> <!--multer image archivo-->
            <label for="image">Imagen de Perfil</label>
            <p><%= users.image%></p>
        </div>

     </div>
    </form>
  
</main>




</body>

<%- include('../partials/footer.ejs') %>

</html>

