<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('../partials/head', {title: ''}) %>
	<%- include('../partials/detalleProducto.ejs') %>
</head>
<body>
	<%- include('../partials/headerNavbar.ejs') %>


<div class="cart-item-pr">
		<div class="cart-product-pr">
			<img class="imgProd" src="<%=producto.image %>" alt="product image">
		</div>
		<div class="cart-product-info-pr">
			<div class="description">
				<p class="product-detail-description">
					<%= producto.pdtDescription %>
				</p>
				<p class="product-detail-price small">
					<span>$<%= producto.pdtPrice%></span>				
				</p>
				<a href="#" class="buy-now-button">COMPRAR AHORA</a>
			</div>
				<article class="product-detail-info">
						
					<ul class="actions-list">
						<li>
							<p><i class="fas fa-credit-card"></i> Pagá en 12 cuotas sin interes</p>
						</li>
						<li>
							<p><i class="fas fa-store"></i> Retiro gratis en locales del vendedor</p>
						</li>
					</ul>
					
					<% if (locals.isLogged) { %>
					
					<a href="/products/edit/<%= producto.id %>" class="buy-now-button">EDITAR</a>
					
						<form action="/products/delete/<%=producto.id%>" method="POST" style="display: inline-flex">
						<button type="submit" class="buy-now-button">ELIMINAR</button>
					   </form>
					<% } %>
					</article>
		</div>
	
		
	

</div>


	
	<!-- /product detail -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>