<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('../partials/head', {title: ''}) %>
	<%- include('../partials/detalleProducto.ejs') %>
</head>
<body>
	
	<%- include('../partials/headerNavbar.ejs') %>
	
	  
<br>
<br>
<br>
<div class="col-12">
	<h2 class="products-title" style="margin-left: 25px;">Detalle del producto: <%= producto.pdtName %> </h2> 
</div>
<div class="cart-item-pr">
	
	
		<div class="cart-product-pr">
			<div class="">
				<div><img class="imgProd" src="<%=producto.image %>" alt="product image"></div>
			</div>
			<div class="cart-product-info-pr">
				<p class="product-detail-description">
					<%= producto.pdtDescription %>
				</p>
				<p class="product-detail-price small">
					<span>$<%= producto.pdtPrice%></span>
										
				</p>
			</div>
		</div>
		<div class="cart-product-total-pr">
			
		</div>
		<div class="cart-controls-pr">
			<a href="#" class="buy-now-button">COMPRAR AHORA</a>
			
		</div>
		<article class="product-detail-info">
						
						
			<p class="product-detail-price small">
				<span>$<%= producto.pdtPrice%></span>
				
			</p>
			
			
		
		<ul class="actions-list">
			<li>
				<i class="fas fa-credit-card"></i>
				<p>Pagá en 12 cuotas sin interes</p>
			</li>
			<li>
				<i class="fas fa-store"></i>
				<p>Retiro gratis en locales del vendedor</p>
			</li>
		</ul>
		
		
		
		
		

		<a href="/products/edit/<%= producto.id %>" class="action-button-edit" style="border: 1px solid #40C990;">EDITAR PRODUCTO</a>
		
			<form action="/products/delete/<%=producto.id%>" method="POST" style="display: inline-flex">
			<button type="submit" class="action-button delete">ELIMINAR</button>
		   </form>
		</article>
	

</div>


	
	<!-- /product detail -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>