<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/addProductcss.ejs') %>
</head>

<body>
    <%- include('../partials/headerNavbar.ejs') %>
<main>
    

    <form method="POST" action="/products/edit/<%=producto.id%>?_method=PUT" enctype="multipart/form-data">
      <div class="newProducts">  
        <h4 class="page-banner-add">Editar un Producto</h4>
        
          <div class="parts">     
            <label>Nombre del Producto</label>
            <input type="text" name="pdtName" id="pdtName" value="<%=producto.pdtName %>" required>
        </div> 
        <div class="parts"> 
            <label>Descripcion</label>
            <input type="text" name="pdtDescription" id="pdtDescription" value="<%=producto.pdtDescription%>" required>
        </div> 
        <div class="categori" class="parts"> 
            <label>Categoria</label>
             <select name="pdtCategori" class="categoriOptions" id="pdtCategori" value="<%=producto.idCategory%>" required>
            <option value="1">Seleccionar categoria</option> 
            <option value="2">Mineria</option> 
            <option value="3">Almacenamiento</option>
            <option value="4">Monitores</option> 
            <option value="5">Metaverso</option>
            
         </select>
        </div> 
       
       
        <div class="parts"> 
            <label>Precio</label>
            <input type="text" name="pdtPrice" id="pdtPrice" value="<%=producto.pdtPrice%>" required>
        </div> 

        <div class="parts"> <!--multer image archivo-->
            <label for="image">Imagen del Producto</label>
             <input  type="file" name="image" id="image" placeholder="Buscar" value="<%=producto.image%>" required>
             <img src="<%= producto.image %>" alt="">
        </div> 

        <div class="buttons">
   
            <button class="submit" type="submit"> Enviar</button>
            
                       
        </div>
       </div>

    </form>
  
</main>

</body>

<%- include('../partials/footer.ejs') %>

</html>